<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.mapper.EntryMapper" >
  <resultMap id="BaseResultMap" type="cn.kgc.domain.Entry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="categoryId" property="categoryid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="uploaduser" property="uploaduser" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="DATE" />
    <association property="category" javaType="Category">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, categoryId, title, summary, uploaduser, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from entry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from entry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.kgc.domain.Entry" >
    insert into entry (id, categoryId, title, 
      summary, uploaduser, createdate
      )
    values (#{id,jdbcType=INTEGER}, #{categoryid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{uploaduser,jdbcType=VARCHAR}, #{createdate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.kgc.domain.Entry" >
    insert into entry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="uploaduser != null" >
        uploaduser,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="uploaduser != null" >
        #{uploaduser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kgc.domain.Entry" >
    update entry
    <set >
      <if test="categoryid != null" >
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="uploaduser != null" >
        uploaduser = #{uploaduser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kgc.domain.Entry" >
    update entry
    set categoryId = #{categoryid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      uploaduser = #{uploaduser,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryEntryById" parameterType="Integer" resultMap="BaseResultMap">
      select e.*,c.name from entry e left join category c on e.categoryId=c.id
      <where>
        <if test="searchCategoryId!=null and searchCategoryId>=0">
          and e.categoryId = #{searchCategoryId}
        </if>
      </where>
  </select>
</mapper>